@keyframes changecolor{
    from{
        background: #fff;
    }
    
    to{
        background: #000;
    }
}

.form-login{
    padding: 70px 0;
    background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, 1)), url(../imgs/1.jpg) center center no-repeat;
}

.form-login h4{
    font-weight: 300;
    font-size: 2em;
}

.form-login .btn-large{
    margin-left: 10px;
}


/*Services Div*/
.services{
    padding: 80px 0;
    background: #fff;
}

.services h1{
    font-weight: 300;
    font-size: 2em;
    margin: 0 auto;
    display: inline-block;
    color: #888;
    margin-bottom: 20px;
}

.services h1::before{
    content: '';
    display: block;
    width:200px;
    position: relative;
    height: 1px;
    background-color: #999;
    left: 0px;
    bottom: -40px;
}

.services img{
    opacity: .8;
    transition: all .4s;
}

.services img:hover{
    opacity: 1;
    transition: all .4s;
}

/*Thr3ap Div*/
.thr3ap{
    min-height: 200px;
    background:  linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0.2)), url(../imgs/wp-thr3ap.jpg);
    background-size: cover;
    background-repeat: center center no-repeat;
    background-attachment: fixed;
    color: #fff;
    padding: 18px 0;
}

.thr3ap-content{
    padding: 50px 0;
    color: #888;
    background-color: #000;
    position: relative;
}

.thr3ap-content::before{
    content: '';
    height: 60px;
    width: 60px;
    background: #000;
    display: block;
    position: absolute;
    border: 4px solid #fff;
    top: -30px;
    left: calc(50% - 30px);
    border-radius: 50%;
    animation-name: changecolor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
    
}
.thr3ap .bg-image{
    min-height: 450px;
 
}

.thr3ap .bg-image img{
   margin-top: 60px;
}

/*Gremily Div*/
.gremily{
    min-height: 450px;
    background: linear-gradient(rgba(100,100,0,.1), rgba(0,0,0,0.4)),url(../imgs/wp-gremily.jpg);
    background-size: cover;
    background-repeat: center center no-repeat;
    background-attachment: fixed;
    color: #fff;
    padding: 50px 0;
    border:2px solid #fff;
}

.gremily .bg-image img{
   margin-top: 60px;
}

/*Admirada Div*/
.admirada{
    min-height: 450px;
    background: linear-gradient(rgba(100,0,100,.2), rgba(0,0,0,0.4)), url(../imgs/wp-admirada.jpg);
    background-size: cover;
    background-repeat: center center no-repeat;
    background-attachment: fixed;
    color: #fff;
    padding: 50px 0;
    border:2px solid #fff;
}

.admirada .bg-image{
  
    min-height: 450px;
}

.admirada .bg-image img{
   margin-top: 60px;
}

/*Sempre Div*/
.sempre{
    min-height: 450px;
    background: linear-gradient(rgba(0,255,100,.3), rgba(0,170,250,1)), url(../imgs/wp-sempre.jpg);
    background-size: cover;
    background-repeat: center center no-repeat;
    background-attachment: fixed;
    color: #fff;
    padding: 50px 0;
    text-align: right;
    border:2px solid #fff;
}

.sempre .bg-image{
    min-height: 450px;
}

.sempre .bg-image img{
   margin-top: 60px;
}

/*Meuike Div*/
.meulike{
    min-height: 450px;
    background: url(../imgs/wp-meulike.jpg) ;
    color: #fff ;
    background-size: cover;
    background-repeat: center center no-repeat;
    background-attachment: fixed;
    padding: 50px 0;
    text-align: left;
     border:2px solid #fff;
}

.meulike .bg-image{
    min-height: 450px;
    background-size: cover;
    background-repeat: center center no-repeat;
}

.meulike .bg-image img{
   margin-top: 60px;
}