/*Hbioss Div*/
.slider .indicators .indicator-item {
  background-color: #666666;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.slider .indicators .indicator-item.active {
  background-color: #ffffff;
}
.slider {
  width: 100%;
  margin: 0 auto -50px auto;
  padding: 0px;

}
.slider .indicators {
  bottom: 60px;
  z-index: 100;
  /* text-align: left; */
}
/*Thr3ap Div*/
.thr3ap{
    height: 450px;
    background:  linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0.2)), url(../imgs/wp-thr3ap.jpg);
    background-size: cover;
    background-repeat: center center no-repeat;
    background-attachment: fixed;
    color: #fff;
    padding: 50px 0;
}

.thr3ap h1{
    font-size: 2.2em;
}

.thr3ap p{
    text-align: justify;
    line-height: 25px;
}

.thr3ap .bg-image{
    min-height: 450px;
 
}

.thr3ap .bg-image img{
   margin-top: 60px;
}

/*Gremily Div*/
.gremily{
    height: 450px;
    background: linear-gradient(rgba(100,100,0,.1), rgba(0,0,0,0.4)),url(../imgs/wp-gremily.jpg);
    background-size: cover;
    background-repeat: center center no-repeat;
    background-attachment: fixed;
    color: #fff;
    padding: 50px 0;
}

.gremily h1{
    font-size: 2.2em;
}

.gremily p{
    text-align: justify;
    line-height: 25px;
}

.gremily .bg-image img{
   margin-top: 60px;
}

/*Admirada Div*/
.admirada{
    height: 450px;
    background: linear-gradient(rgba(100,0,100,.2), rgba(0,0,0,0.4)), url(../imgs/wp-admirada.jpg);
    background-size: cover;
    background-repeat: center center no-repeat;
    background-attachment: fixed;
    color: #fff;
    padding: 50px 0;
}

.admirada .bg-image{
  
    min-height: 450px;
}

.admirada .bg-image img{
   margin-top: 60px;
}

/*Sempre Div*/
.sempre{
    height: 450px;
    background: linear-gradient(rgba(0,255,100,.3), rgba(0,170,250,1)), url(../imgs/wp-sempre.jpg);
    background-size: cover;
    background-repeat: center center no-repeat;
    background-attachment: fixed;
    color: #fff;
    padding: 50px 0;
    text-align: right;
}

.sempre .bg-image{
    min-height: 450px;
}

.sempre .bg-image img{
   margin-top: 60px;
}

/*Meuike Div*/
.meulike{
    height: 450px;
    background: url(../imgs/wp-meulike.jpg) ;
    color: #fff ;
    background-size: cover;
    background-repeat: center center no-repeat;
    background-attachment: fixed;
    padding: 50px 0;
    text-align: left;
}

.meulike .bg-image{
    min-height: 450px;
    background-size: cover;
    background-repeat: center center no-repeat;
}

.meulike .bg-image img{
   margin-top: 60px;
}